body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #98004b;
}

a {
    color: #8ED4A3;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track-piece  {
  background-color: darkslategray;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: gray;
  border-radius: 5px;
}

